body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:108px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:134px;
  top:152px;
  width:140px;
  height:32px;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:593px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'应用字体';
}
#u4_ann {
  position:absolute;
  left:483px;
  top:589px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:150px;
  top:206px;
  width:120px;
  height:32px;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:128px;
  width:800px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u8 {
  position:absolute;
  left:350px;
  top:160px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:470px;
  top:160px;
  width:70px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:350px;
  top:209px;
  width:300px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_input {
  font-family:'应用字体';
}
#u13 {
  position:absolute;
  left:150px;
  top:265px;
  width:120px;
  height:16px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:338px;
  width:120px;
  height:16px;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:150px;
  top:431px;
  width:117px;
  height:16px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:350px;
  top:263px;
  width:300px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19_input {
  font-family:'应用字体';
}
#u20 {
  position:absolute;
  left:350px;
  top:310px;
  width:300px;
  height:80px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20_input {
  font-family:'应用字体';
}
#u21 {
  position:absolute;
  left:350px;
  top:410px;
  width:300px;
  height:80px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21_input {
  font-family:'应用字体';
}
#u22 {
  position:absolute;
  left:197px;
  top:534px;
  width:70px;
  height:16px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:98px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:98px;
}
#u25 {
  position:absolute;
  left:2px;
  top:41px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:290px;
  top:160px;
  width:15px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:290px;
  top:215px;
  width:15px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:290px;
  top:266px;
  width:15px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:290px;
  top:338px;
  width:15px;
  height:14px;
  font-size:16px;
  color:#FF0000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:290px;
  top:431px;
  width:15px;
  height:14px;
  font-size:16px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:350px;
  top:534px;
  width:480px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:462px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:290px;
  top:534px;
  width:15px;
  height:14px;
  font-size:16px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
