body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:210px;
  width:260px;
  height:610px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:33px;
  width:256px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:106px;
  width:820px;
  height:715px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:715px;
}
#u3 {
  position:absolute;
  left:2px;
  top:350px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:342px;
  top:111px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:358px;
  top:144px;
  width:80px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:599px;
  top:144px;
  width:80px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:416px;
  top:144px;
  width:124px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10_input {
  font-family:'应用字体';
}
#u11 {
  position:absolute;
  left:634px;
  top:144px;
  width:129px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11_input {
  font-family:'应用字体';
}
#u12 {
  position:absolute;
  left:1052px;
  top:144px;
  width:58px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_input {
  font-family:'应用字体';
}
#u13 {
  position:absolute;
  left:355px;
  top:178px;
  width:785px;
  height:34px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:813px;
  top:144px;
  width:80px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:871px;
  top:144px;
  width:119px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17_input {
  font-family:'应用字体';
}
#u18 {
  position:absolute;
  left:50px;
  top:106px;
  width:260px;
  height:74px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u19 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:112px;
  width:234px;
  height:63px;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:240px;
  height:69px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:68px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:30px;
  width:234px;
  height:33px;
  color:#000000;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:100px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:100px;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:140px;
  top:219px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:356px;
  top:222px;
  width:785px;
  height:142px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:142px;
}
#u32 {
  position:absolute;
  left:2px;
  top:63px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:355px;
  top:374px;
  width:785px;
  height:32px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:781px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:355px;
  top:416px;
  width:785px;
  height:32px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:781px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:355px;
  top:790px;
  width:202px;
  height:16px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:355px;
  top:458px;
  width:785px;
  height:34px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:355px;
  top:500px;
  width:785px;
  height:34px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:355px;
  top:538px;
  width:785px;
  height:34px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1052px;
  top:182px;
  width:58px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'应用字体';
}
#u46 {
  position:absolute;
  left:355px;
  top:618px;
  width:785px;
  height:34px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:355px;
  top:578px;
  width:785px;
  height:32px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:781px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:355px;
  top:658px;
  width:785px;
  height:34px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:355px;
  top:700px;
  width:785px;
  height:34px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u53 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:355px;
  top:738px;
  width:785px;
  height:34px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:34px;
}
#u55 {
  position:absolute;
  left:2px;
  top:9px;
  width:781px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1052px;
  top:227px;
  width:58px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_input {
  font-family:'应用字体';
}
#u57 {
  position:absolute;
  left:453px;
  top:230px;
  width:80px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:708px;
  top:250px;
  width:80px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:453px;
  top:250px;
  width:80px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:708px;
  top:230px;
  width:80px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:453px;
  top:270px;
  width:80px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:708px;
  top:270px;
  width:80px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:453px;
  top:290px;
  width:80px;
  height:30px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:533px;
  top:290px;
  width:360px;
  height:30px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:533px;
  top:230px;
  width:80px;
  height:30px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:533px;
  top:250px;
  width:80px;
  height:30px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:533px;
  top:270px;
  width:80px;
  height:30px;
  color:#000000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:798px;
  top:250px;
  width:80px;
  height:20px;
  color:#000000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:798px;
  top:230px;
  width:80px;
  height:30px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:800px;
  top:270px;
  width:80px;
  height:30px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:640px;
  top:332px;
  width:100px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85_input {
  font-family:'应用字体';
}
#u86 {
  position:absolute;
  left:50px;
  top:832px;
  width:270px;
  height:16px;
  color:#FF0000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
